{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                },
                "modules": false,
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": ["syntax-dynamic-import"]
}   